# /etc/sudoers
#
# This file MUST be edited with the 'visudo' command as root.
#
# See the man page for details on how to write a sudoers file.
#

Defaults	env_reset

# Host alias specification

# User alias specification

# Cmnd alias specification
#
Cmnd_Alias 	DESTAR_SAMBA = /etc/init.d/samba reload, /usr/sbin/adduser, /usr/sbin/userdel, /usr/bin/smbpasswd

# User privilege specification
root	ALL=(ALL) ALL
asterisk	localhost=NOPASSWD: DESTAR_SAMBA
