body
{
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	margin:0;
	padding:16px 0 20px 0;
	background:url("../imgs/body-f.jpg") 0 0;
}
	/*common definitions*/
	#wrapper,
	#header,
	#mainContent,
	#contentNav,
	#footer
	{
		width:790px;
	}
		#header,
		#mainContent,
		#contentNav,
		#footer
		{
			float:left;
			text-align:left;
		}
			#mainContent, #footer
			{
				background:#FFFFFF;
			}
	/*end common definitions*/
	#wrapper
	{
		margin-left:auto;
		margin-right:auto;
	}
		#header
		{
			background:url("../imgs/header-f.jpg") 0 0 no-repeat #AF2A2A;
			height:112px;
		}
			#header h1
			{
				margin:0;
				padding:14px 0 9px 26px;
				float:left;
				color:white;
			}
			#loginNavigation
			{
				float:right;
			}
				#loginNavigation ul
				{
					list-style-type:none;
					font-size:11px;
					margin:15px 25px 0 0;
					padding:0;
				}
					#loginNavigation ul li
					{
						margin:0;
						padding:0;
					}
						#loginNavigation li a
						{
							color:#FFFFFF;
							text-decoration:none;
						}
							#loginNavigation li a:hover
							{
								text-decoration:underline;
							}
			#globalNavigation
			{
				clear:both;
				padding-left:17px;
				background:blue;
				height:26px;
			}
			
/**/			
				#globalNavigation ul
				{
					list-style-type:none;
					margin:0;
					padding:0;
				}
					#globalNavigation ul li
					{
						float:left;
						font-size:12px;
						margin:0;
						padding:0;
					}
						#globalNavigation li a
						{
							color:#FFFFFF;
						}
		#mainContent
		{
			background:url("../imgs/content-f.jpg") 0 0 repeat-y;
		}
			#contentNav
			{
			}
			#mainContent h1,
			#mainContent h2,
			#mainContent h3,
			#mainContent table,
			#mainContent p
			{
				margin-left:25px;
				margin-right:25px;
				padding:0;
			}
				#mainContent h1
				{
					font-size:20px;
					font-weight:normal;
					color:#e37e12;
					margin-top:0px;
					margin-bottom:10px;
				}
				#mainContent h2,
				#mainContent #config #configFile p
				{
					font-size:16px;
					color:#666666;
					margin-top:0px;
					margin-bottom:5px;
				}
				#mainContent #config #configFile p
				{
					background:#EEEEEE;
					color:#666666;
					font-size:16px;
				}
				#mainContent h3
				{
					font-size:14px;
					color:#999999;
					margin-top:0px;
					margin-bottom:0px;
				}
				#mainContent p,
				form.quixote
				{
					color:#666666;
					font-size:12px;
					margin:25px;
				}
				#mainContent li
				{
					color:#666666;
					font-size:12px;
					margin:15px;
				}

				#mainContent ul
				{
				}
				#mainContent a
				{
					color:#666666;
				}
					#mainContent a:hover
					{
						color:#e37e12;
					}
				/*Forms definitions*/
				#mainContent form,
				#mainContent form.quixote
				{
					padding:0px 25px 0px 25px;
				}
					#manContent table,
					#mainContent form.quixote table
					{
						width:738px;
					}
						#mainContent table th,
						#mainContent table td,
						#mainContent form.quixote table th,
						#mainContent form.quixote table td
						{
							padding:3px 5px 3px 5px;
						}
						#mainContent table thead th,
						#mainContent #dump table th,
						#mainContent form.quixote table thead th
						{
							background:#E7C3C3;
							color:#e37e12;
							font-size:11px;
						}
						#mainContent table tbody td,
						#mainContent #dump table td,
						#mainContent form.quixote table tbody td
						{
							background:#EEEEEE;
							color:#666666;
							font-size:11px;
						}
					#mainContent form p,
					#mainContent form.quixote div.widget
					{
						margin-left:0;
						margin-right:0;
					}
					#mainContent form.quixote input,
					#mainContent form.quixote textarea,
					#mainContent form.quixote select
					{
						font-family:Arial, Helvetica, sans-serif;
						font-size:12px;
						color:#333333;
						background:#EEEEEE;
						padding:1px 3px 1px 3px;
						margin-left:0;
						margin-right:0;
					}
					#mainContent .error,
					div.error,
					#mainContent .required,
					span.required
					{
						font-family:Arial, Helvetica, sans-serif;
						font-size:12px;
						color:#faae60;
						padding:1px 3px 1px 3px;
						margin-left:0;
						margin-right:0;
					}
					/*#mainContent form.quixote div.submit div.SubmitWidget div.content,
					{
						font-family:Arial, Helvetica, sans-serif;
						font-size:12px;
						color:#333333;
						background:#EEEEEE;
						padding:1px 3px 1px 3px;
					}*/
					/*#mainContent form input.btn01,
					#mainContent form.quixote div.submit div.SubmitWidget div.content,
					#mainContent form input.btn02
					{
						border-width:1px;
						border-style:solid;
						font-size:11px;
						font-weight:bold;
						padding:1px 3px 1px 3px;
					}
						#mainContent form input.btn01,
						#mainContent form.quixote div.submit div.SubmitWidget div.content
						{
							border-color:#faae60;
							background:#fdce9d;
							color:#e37e12;
						}
						#mainContent form input.btn02,
						{
							border-color:#676767;
							background:#DBDBDB;
							color:#333333;
							font-size:10px;
						}

					#mainContent form input.noestilo
					{
						background:none;
					}*/
					#mainContent form.quixote select
					{
						padding:0;
					}
					/*#mainContent a.textBtn,
					#mainContent form.quixote div.submit div.SubmitWidget,
					{
						padding:0 0 0 10px;
						display:block;
						background:url("../imgs/text-btn_f1.gif") left top no-repeat;
						text-decoration:none;
						font-weight:bold;
						font-size:11px;
					}
						#mainContent a.textBtn span,
						#mainContent form.quixote div.submit div.SubmitWidget,
						{
							padding:2px 10px 5px 0;
							background:url("../imgs/text-btn_f2.gif") right top no-repeat;
							display:block;
							color:#e37e12;
						}*/
/**********************************/

form.quixote .errornotice {
	margin-bottom: 1em;
	font-weight: bold;
	color: #e37e12;
	float: left;
}

form.quixote .title {
	width: 16em;
	float: left;
	margin: 0 0.5em 10px 0;
}

form.quixote .required {
	color: #e37e12;
	padding: 0.4em;
}

form.quixote .submit {
	clear: left;
}

form.quixote .content {
	float: left;
}

form.quixote .content .error {
	color: #e37e12;
	display: inline;
	font-weight: bold;
	margin-left: 1em;
}

form.quixote .LabelWidget {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: 114%;
	color: #336;
	background-color: #f7f7f7;
}

form.quixote .SubmitWidget {
	margin-top: 2em;
	margin-right: 1em;
	float: left;
}



form.quixote div.FormTokenWidget,
form.quixote.div.HiddenWidget {
	display: none;
}

form.quixote br {
	clear: left;
}
/**********************************/
		#footer
		{
			background:url("../imgs/footer-f.jpg") 0 bottom repeat-x;
			height:60px;
			text-align:right;
		}
			#footer p 
			{
				font-size:11px;
				margin:7px 135px 10px auto;
				padding:0;
				color:#999999;
			}
				#footer p em
				{
					font-style:normal;
					color:#e37e12;
				}
				#footer p a
				{
					color:#CCCCCC;
				}
					#footer p a:hover
					{
						color:#999999;
					}
		
